# Configuration file

"crop options" {
    I:"Base percentage chance that magical crops can be destoryed, default 20%, max 100%"=5
    B:"Chance of weak essence dropping from magical crops"=true
    B:"Crops have a chance of being completely destoryed when harvested (no seeds or essence), default false"=true
    B:"Magical crops display particle effects"=true
}


"essence ore options" {
    I:"Edit max amount of End Essence ore that can generate per vein, default = 4"=4
    I:"Edit max amount of Essence ore that can generate per vein, default = 4"=4
    I:"Edit max amount of Nether Essence ore that can generate per vein, default = 6"=6
    I:"Edit the number to change the Y Cord that essence ore starts generating in the overworld, default = 45"=45
    B:"End Essence ore spawns in the end"=true
    B:"Essence ore spawns in the overworld"=true
    B:"Nether Essence ore spawns in the nether"=true
}


general {
    I:"Edit the amount of seeds you get when crafting, Default 1, Max 64"=1
    B:"Magical crops display particle effects"=true
}


"misc options" {
    B:"Harder essence recipes, require 8 of the previous essence to upgrade, default: false"=true
    B:"Harder tool/armour upgrade recipes, require 8 of the previous essence to upgrade, default: false"=true
    B:"Show the pronunciation of the 5 main essence."=false
}


"monster drop options" {
    B:"Animals e.g. Pigs, Sheep and Chickens, drop Minicio essence when killed, default true"=true
    I:"Chance of animals dropping Minicio essence when killed in percent, default 10"=1
    I:"Chance of monsters dropping Minicio essence when killed in percent, default 20"=2
    B:"Ender dragon drops Zivicio essence when killed, default true"=true
    I:"If they can, how many zivicio dusts should Ender Dragons drop when killed, default 4"=2
    I:"If they can, how many zivicio dusts should the Wither Boss drop when killed, default 2"=1
    B:"Monsters e.g. Zombies, Skeletons and Creepers, drop Minicio essence when killed, default true"=true
    B:"Wither drops Zivicio essence when killed, default true"=true
}


"output_1 vanilla essence crafting" {
    I:"Cactus, default 8, Max 64, Min 1"=8
    I:"Clay Balls, default 32, Max 64, Min 1"=32
    I:"Coal, default 12, Max 64, Min 1"=12
    I:"Cobblestone, default 32, Max 64, Min 1"=32
    I:"Diamond, default 1, Max 64, Min 1"=1
    I:"Dirt, default 32, Max 64, Min 1"=32
    I:"Dirt, default 64, Max 64, Min 1"=64
    I:"Dye, default 6, Max 64, Min 1"=6
    I:"Emerald, default 1, Max 64, Min 1"=1
    I:"Experience Orb, default 1, Max 64, Min 4"=4
    I:"Glowstone dust, default 12, Max 64, Min 1"=12
    I:"Gold Ore, default 5, Max 64, Min 1"=5
    I:"Gravel, default 16, Max 64, Min 1"=16
    I:"Iron Ore, default 8, Max 64, Min 1"=8
    I:"Lapis Lazuli, default 12, Max 64, Min 1"=12
    I:"Leave Blocks, default 8, Max 64, Min 1"=8
    I:"Lily Pads, default 8, Max 64, Min 1"=8
    I:"Mossy Cobblestone, default 8, Max 64, Min 1"=8
    I:"Mossy Stone Brick, default 8, Max 64, Min 1"=8
    I:"Mycelium, default 8, Max 64, Min 1"=8
    I:"Nether Quartz, default 8, Max 64, Min 1"=8
    I:"Obsidian, default 8, Max 64, Min 1"=8
    I:"Redstone dust, default 24, Max 64, Min 1"=24
    I:"Sand, default 32, Max 64, Min 1"=32
    I:"Snow Balls, default 32, Max 64, Min 1"=32
    I:"Vines, default 32, Max 16, Min 1"=16
}


"output_2 vanilla mob drop output" {
    I:"Blaze Mob Drop Blaze Rod, default 4, Max 64, Min 1"=4
    I:"Chicken Mob Drop Eggs, default 4, Max 64, Min 1"=4
    I:"Chicken Mob Drop Feather, default 8, Max 64, Min 1"=8
    I:"Chicken Mob Drop Raw Chicken, default 4, Max 64, Min 1"=4
    I:"Cow Mob Drop Leather, default 8, Max 64, Min 1"=8
    I:"Cow Mob Drop Raw Beef, default 4, Max 64, Min 1"=4
    I:"Creeper Mob Drop Creeper Head, default 1, Max 64, Min 1"=1
    I:"Creeper Mob Drop Gunpowder, default 8, Max 64, Min 1"=8
    I:"Enderman Mob Drop Ender Pearl, default 4, Max 64, Min 1"=4
    I:"Ghast Mob Drop Ghast Tear, default 2, Max 64, Min 1"=2
    I:"Magma Mob Drop Magma Cream, default 6, Max 64, Min 1"=6
    I:"Mob Drop Bottle 'o' Enchanting, default 3, Max 64, Min 2"=2
    I:"Pig Mob Drop Raw Pork, default 4, Max 64, Min 1"=4
    I:"Skeleton Mob Drop Arrows, default 4, Max 64, Min 1"=4
    I:"Skeleton Mob Drop Bones, default 8, Max 64, Min 1"=8
    I:"Skeleton Mob Drop Skull, default 1, Max 64, Min 1"=1
    I:"Slime Mob Drop Slime Balls, default 8, Max 64, Min 1"=8
    I:"Spider Mob Drop Spider Eye, default 8, Max 64, Min 1"=8
    I:"Spider Mob Drop String, default 8, Max 64, Min 1"=8
    I:"Wither Skeleton Mob Drop Wither Skull, default 1, Max 64, Min 1"=1
}


"potion options" {
    I:"Length of 1st tier absorption potions(in minutes), default: 1 minute"=1
    I:"Length of 1st tier haste potions(in minutes), default: 1 minute"=1
    I:"Length of 1st tier regeneration potions(in minutes), default: 1 minute"=1
    I:"Length of 1st tier resistance potions(in minutes), default: 1 minute"=1
    I:"Length of 1st tier strength potions(in minutes), default: 1 minute"=1
    I:"Length of 2nd tier absorption potions(in minutes), default: 3 minute"=3
    I:"Length of 2nd tier haste potions(in minutes), default: 3 minute"=3
    I:"Length of 2nd tier regeneration potions(in minutes), default: 3 minute"=3
    I:"Length of 2nd tier resistance potions(in minutes), default: 3 minute"=3
    I:"Length of 2nd tier strength potions(in minutes), default: 3 minute"=3
    I:"Length of 3rd tier absorption potions(in minutes), default: 6 minute"=6
    I:"Length of 3rd tier haste potions(in minutes), default: 6 minute"=6
    I:"Length of 3rd tier regeneration potions(in minutes), default: 6 minute"=6
    I:"Length of 3rd tier resistance potions(in minutes), default: 6 minute"=6
    I:"Length of 3rd tier strength potions(in minutes), default: 6 minute"=6
    I:"Length of 4th tier absorption potions(in minutes), default: 10 minute"=10
    I:"Length of 4th tier haste potions(in minutes), default: 10 minute"=10
    I:"Length of 4th tier regeneration potions(in minutes), default: 10 minute"=10
    I:"Length of 4th tier resistance potions(in minutes), default: 10 minute"=10
    I:"Length of 4th tier strength potions(in minutes), default: 10 minute"=10
}


"seed options" {
    I:"Chance of getting an Essence seed from tall grass, number from 1 & 10, 1 Very rare(Default), 10 Very common"=1
    I:"Change number between 1-100 for chance of getting second seed drop, 10 = 10%, 20 = 20%(default) and so on."=2
    I:"Change to disable or enabled second seed drop, 1 = Enabled (Default), 0 = Disabled"=1
    I:"Edit the amount of seeds you get when crafting, Default 1, Max 64"=1
    B:"Essence seeds drop from tall grass"=true
}


"supporters extra crops" {
    B:"Does Bacon give asorption hearts?, default true"=true
    B:"Enable/Disable BaconDonut's bacon crop, default false"=false
}


