#Multipart API config file

debug_asm=false

#Set to true to use mc style icons for the saw instead of the 3D model
useSawIcons=false

sawArdite
{
	durability=600
}

sawCobalt
{
	durability=800
}

sawDiamond
{
	durability=512
}

sawIron
{
	durability=256
}

sawManyullyn
{
	durability=1200
}

sawStone
{
	durability=128
}
